<div class="main top-main">
  <div class="top-message">
    <h2>今日も元気に野球</h2>
    <p>トレーニング三昧</p>
    <h2>今日も元気にプログラミング</h2>
    <p>パソコン三昧</p>
    <h2>今日も元気に散歩</h2>
    <p>散歩三昧</p>
    <h2>今日も元気にプロテインを飲む</h2>
    <p>タンパク質三昧</p>
    <h2>今日も元気にプロテインを飲む</h2>
    <p>タンパク質三昧</p>
    <h2>今日も元気にプロテインを飲む</h2>
    <p>タンパク質三昧</p>
    <h2>今日も元気にプロテインを飲む</h2>
    <p>タンパク質三昧</p>
    <h2>今日も元気にプロテインを飲む</h2>
    <p>タンパク質三昧</p>
    <h2>今日も元気にプロテインを飲む</h2>
    <p>タンパク質三昧</p>
  </div>
</div>
